.CoralBlueWave.rnr-s-empty > .rnr-c
{
background:none;

}
.CoralBlueWave.rnr-s-empty > .rnr-c .rnr-leftbricks
{
margin-left: 10px;
}
.CoralBlueWave.rnr-s-empty > .rnr-c .rnr-rightbricks
{
margin-right: 10px;
}
.CoralBlueWave.rnr-s-empty > :not(.runner-c) > *.style1,
.CoralBlueWave.rnr-s-empty > * > :not(.rnr-b-wrapper) .style1
{
color: #333333;
font-family: Verdana, sans-serif; font-size: 13px; font-weight: bold; font-style: normal; text-decoration: none;
}
.CoralBlueWave.rnr-s-empty > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.CoralBlueWave.rnr-s-empty > * > :not(.rnr-b-wrapper) .style1,
.CoralBlueWave.rnr-s-empty > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 7px;
}
.CoralBlueWave.rnr-s-empty > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.CoralBlueWave.rnr-s-empty > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.CoralBlueWave.rnr-s-empty > :not(.runner-c) > *.style2,
.CoralBlueWave.rnr-s-empty > * > :not(.rnr-b-wrapper) .style2
{
color: #333333;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave.rnr-s-empty > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.CoralBlueWave.rnr-s-empty > * > :not(.rnr-b-wrapper) .style2,
.CoralBlueWave.rnr-s-empty > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.CoralBlueWave.rnr-s-empty > :not(.runner-c) > *.style3,
.CoralBlueWave.rnr-s-empty > * > :not(.rnr-b-wrapper) .style3
{
color: #333333;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave.rnr-s-empty > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.CoralBlueWave.rnr-s-empty > * > :not(.rnr-b-wrapper) .style3,
.CoralBlueWave.rnr-s-empty > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.CoralBlueWave.rnr-s-menu > :not(.runner-c) > *.style1,
.CoralBlueWave.rnr-s-menu > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #16589C;color: #FFFFFF;
font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave.rnr-s-menu > .rnr-c.rnr-ch
{
background-image: none; background-color: #16589C;
}
.CoralBlueWave.rnr-s-menu > :not(.runner-c) > *.style2,
.CoralBlueWave.rnr-s-menu > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #D2D8DC;color: #333333;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave.rnr-s-menu > :not(.runner-c) > *.style3,
.CoralBlueWave.rnr-s-menu > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #D2D8DC;color: #333333;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave.rnr-s-menu > .rnr-c .rnr-leftbricks
{
margin-left: 0px;
}
.CoralBlueWave.rnr-s-menu > .rnr-c .rnr-rightbricks
{
margin-right: 0px;
}
.CoralBlueWave.rnr-s-menu > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.CoralBlueWave.rnr-s-menu > * > :not(.rnr-b-wrapper) .style1,
.CoralBlueWave.rnr-s-menu > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 8px;
}
.CoralBlueWave.rnr-s-menu > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.CoralBlueWave.rnr-s-menu > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.CoralBlueWave.rnr-s-menu > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.CoralBlueWave.rnr-s-menu > * > :not(.rnr-b-wrapper) .style2,
.CoralBlueWave.rnr-s-menu > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.CoralBlueWave.rnr-s-menu > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.CoralBlueWave.rnr-s-menu > * > :not(.rnr-b-wrapper) .style3,
.CoralBlueWave.rnr-s-menu > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.CoralBlueWave.rnr-s-hmenu > .rnr-c
{
background:none;

}
.CoralBlueWave.rnr-s-hmenu > .rnr-c .rnr-leftbricks
{
margin-left: 10px;
}
.CoralBlueWave.rnr-s-hmenu > .rnr-c .rnr-rightbricks
{
margin-right: 10px;
}
.CoralBlueWave.rnr-s-hmenu > :not(.runner-c) > *.style1,
.CoralBlueWave.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style1
{
color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave.rnr-s-hmenu > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.CoralBlueWave.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style1,
.CoralBlueWave.rnr-s-hmenu > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 6px 4px;
}
.CoralBlueWave.rnr-s-hmenu > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.CoralBlueWave.rnr-s-hmenu > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.CoralBlueWave.rnr-s-hmenu > :not(.runner-c) > *.style2,
.CoralBlueWave.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style2
{
color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave.rnr-s-hmenu > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.CoralBlueWave.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style2,
.CoralBlueWave.rnr-s-hmenu > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.CoralBlueWave.rnr-s-hmenu > :not(.runner-c) > *.style3,
.CoralBlueWave.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style3
{
color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave.rnr-s-hmenu > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.CoralBlueWave.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style3,
.CoralBlueWave.rnr-s-hmenu > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.CoralBlueWave.rnr-s-undermenu > .rnr-c
{
border-top-left-radius: 2px;border-top-right-radius: 2px;border-bottom-left-radius: 2px;border-bottom-right-radius: 2px;
}
.CoralBlueWave.rnr-s-undermenu > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-left-radius: 2px; padding-left: 1px;
border-bottom-left-radius: 2px; padding-left: 1px;

}
.CoralBlueWave.rnr-s-undermenu > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-right-radius: 2px; padding-right: 1px;
border-bottom-right-radius: 2px; padding-right: 1px;

}
.CoralBlueWave.rnr-s-undermenu > :not(.runner-c) > *.style1,
.CoralBlueWave.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #16589C;color: #FFFFFF;
font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave.rnr-s-undermenu > .rnr-c.rnr-ch
{
background-image: none; background-color: #16589C;
}
.CoralBlueWave.rnr-s-undermenu > :not(.runner-c) > *.style2,
.CoralBlueWave.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #FFFF00;color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave.rnr-s-undermenu > :not(.runner-c) > *.style3,
.CoralBlueWave.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #FFFF00;color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave.rnr-s-undermenu > .rnr-c .rnr-leftbricks
{
margin-left: 2px;
}
.CoralBlueWave.rnr-s-undermenu > .rnr-c .rnr-rightbricks
{
margin-right: 2px;
}
.CoralBlueWave.rnr-s-undermenu > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.CoralBlueWave.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style1,
.CoralBlueWave.rnr-s-undermenu > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 10px 4px;
}
.CoralBlueWave.rnr-s-undermenu > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 2px; background:transparent;
}
.CoralBlueWave.rnr-s-undermenu > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 2px; background:transparent;
}
.CoralBlueWave.rnr-s-undermenu > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.CoralBlueWave.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style2,
.CoralBlueWave.rnr-s-undermenu > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.CoralBlueWave.rnr-s-undermenu > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.CoralBlueWave.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style3,
.CoralBlueWave.rnr-s-undermenu > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.CoralBlueWave.rnr-s-fields > .rnr-c
{
border: solid #DCDCDC 1px;
}
.CoralBlueWave.rnr-s-fields > :not(.runner-c) > *.style1,
.CoralBlueWave.rnr-s-fields > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #FFFFFF;color: #333381;
font-family: Verdana, sans-serif; font-size: 13px; font-weight: bold; font-style: normal; text-decoration: none;
}
.CoralBlueWave.rnr-s-fields > .rnr-c.rnr-ch
{
background-image: none; background-color: #FFFFFF;
}
.CoralBlueWave.rnr-s-fields > :not(.runner-c) > *.style2,
.CoralBlueWave.rnr-s-fields > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #105198;color: #FFFFFF;
font-family: Trebuchet MS, sans-serif; font-size: 14px; font-weight: bold; font-style: normal; text-decoration: none;
}
.CoralBlueWave.rnr-s-fields > :not(.runner-c) > *.style3,
.CoralBlueWave.rnr-s-fields > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #FFFFFF;color: #696969;
font-family: Tahoma, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave.rnr-s-fields > .rnr-c .rnr-leftbricks
{
margin-left: 0px;
}
.CoralBlueWave.rnr-s-fields > .rnr-c .rnr-rightbricks
{
margin-right: 0px;
}
.CoralBlueWave.rnr-s-fields > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.CoralBlueWave.rnr-s-fields > * > :not(.rnr-b-wrapper) .style1,
.CoralBlueWave.rnr-s-fields > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 6px;
}
.CoralBlueWave.rnr-s-fields > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.CoralBlueWave.rnr-s-fields > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.CoralBlueWave.rnr-s-fields > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.CoralBlueWave.rnr-s-fields > * > :not(.rnr-b-wrapper) .style2,
.CoralBlueWave.rnr-s-fields > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 8px 10px;
}
.CoralBlueWave.rnr-s-fields > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.CoralBlueWave.rnr-s-fields > * > :not(.rnr-b-wrapper) .style3,
.CoralBlueWave.rnr-s-fields > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.CoralBlueWave.rnr-s-form > .rnr-c
{
border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;
}
.CoralBlueWave.rnr-s-form > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-left-radius: 10px; padding-left: 5px;
border-bottom-left-radius: 10px; padding-left: 5px;

}
.CoralBlueWave.rnr-s-form > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-right-radius: 10px; padding-right: 5px;
border-bottom-right-radius: 10px; padding-right: 5px;

}
.CoralBlueWave.rnr-s-form > :not(.runner-c) > *.style1,
.CoralBlueWave.rnr-s-form > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #6699CC;color: #000080;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave.rnr-s-form > .rnr-c.rnr-ch
{
background-image: none; background-color: #6699CC;
}
.CoralBlueWave.rnr-s-form > :not(.runner-c) > *.style2,
.CoralBlueWave.rnr-s-form > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #004080;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave.rnr-s-form > :not(.runner-c) > *.style3,
.CoralBlueWave.rnr-s-form > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #6699CC;color: #003366;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave.rnr-s-form > .rnr-c .rnr-leftbricks
{
margin-left: 10px;
}
.CoralBlueWave.rnr-s-form > .rnr-c .rnr-rightbricks
{
margin-right: 10px;
}
.CoralBlueWave.rnr-s-form > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.CoralBlueWave.rnr-s-form > * > :not(.rnr-b-wrapper) .style1,
.CoralBlueWave.rnr-s-form > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.CoralBlueWave.rnr-s-form > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.CoralBlueWave.rnr-s-form > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.CoralBlueWave.rnr-s-form > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.CoralBlueWave.rnr-s-form > * > :not(.rnr-b-wrapper) .style2,
.CoralBlueWave.rnr-s-form > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.CoralBlueWave.rnr-s-form > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.CoralBlueWave.rnr-s-form > * > :not(.rnr-b-wrapper) .style3,
.CoralBlueWave.rnr-s-form > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.CoralBlueWave.rnr-s-1 > .rnr-c
{
border: solid #C0C0C0 1px;
}
.CoralBlueWave.rnr-s-1 > :not(.runner-c) > *.style1,
.CoralBlueWave.rnr-s-1 > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #6699CC;color: #404040;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave.rnr-s-1 > .rnr-c.rnr-ch
{
background-image: none; background-color: #6699CC;
}
.CoralBlueWave.rnr-s-1 > :not(.runner-c) > *.style2,
.CoralBlueWave.rnr-s-1 > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #004080;color: #FFFFFF;
font-family: Trebuchet MS, sans-serif; font-size: 14px; font-weight: bold; font-style: normal; text-decoration: none;
}
.CoralBlueWave.rnr-s-1 > :not(.runner-c) > *.style3,
.CoralBlueWave.rnr-s-1 > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #6699CC;color: #404040;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave.rnr-s-1 > .rnr-c .rnr-leftbricks
{
margin-left: 0px;
}
.CoralBlueWave.rnr-s-1 > .rnr-c .rnr-rightbricks
{
margin-right: 0px;
}
.CoralBlueWave.rnr-s-1 > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.CoralBlueWave.rnr-s-1 > * > :not(.rnr-b-wrapper) .style1,
.CoralBlueWave.rnr-s-1 > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.CoralBlueWave.rnr-s-1 > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.CoralBlueWave.rnr-s-1 > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.CoralBlueWave.rnr-s-1 > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.CoralBlueWave.rnr-s-1 > * > :not(.rnr-b-wrapper) .style2,
.CoralBlueWave.rnr-s-1 > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 6px 10px;
}
.CoralBlueWave.rnr-s-1 > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.CoralBlueWave.rnr-s-1 > * > :not(.rnr-b-wrapper) .style3,
.CoralBlueWave.rnr-s-1 > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.CoralBlueWave.rnr-s-2 > :not(.runner-c) > *.style1,
.CoralBlueWave.rnr-s-2 > * > :not(.rnr-b-wrapper) .style1
{
background-color: #6699CC;
background: linear-gradient(0.000000turn, #B2CCE5, #6699CC);
;
color: #404040;
font-family: Verdana, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave.rnr-s-2 > .rnr-c.rnr-ch
{
background-color: #6699CC;
background: linear-gradient(0.000000turn, #B2CCE5, #6699CC);
;

}
.CoralBlueWave.rnr-s-2 > :not(.runner-c) > *.style2,
.CoralBlueWave.rnr-s-2 > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #3366FF;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave.rnr-s-2 > :not(.runner-c) > *.style3,
.CoralBlueWave.rnr-s-2 > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #6699CC;color: #404040;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave.rnr-s-2 > .rnr-c .rnr-leftbricks
{
margin-left: 0px;
}
.CoralBlueWave.rnr-s-2 > .rnr-c .rnr-rightbricks
{
margin-right: 0px;
}
.CoralBlueWave.rnr-s-2 > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.CoralBlueWave.rnr-s-2 > * > :not(.rnr-b-wrapper) .style1,
.CoralBlueWave.rnr-s-2 > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 10px 4px;
}
.CoralBlueWave.rnr-s-2 > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.CoralBlueWave.rnr-s-2 > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.CoralBlueWave.rnr-s-2 > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.CoralBlueWave.rnr-s-2 > * > :not(.rnr-b-wrapper) .style2,
.CoralBlueWave.rnr-s-2 > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.CoralBlueWave.rnr-s-2 > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.CoralBlueWave.rnr-s-2 > * > :not(.rnr-b-wrapper) .style3,
.CoralBlueWave.rnr-s-2 > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.CoralBlueWave.rnr-s-3 > :not(.runner-c) > *.style1,
.CoralBlueWave.rnr-s-3 > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #6699CC;color: #000000;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave.rnr-s-3 > .rnr-c.rnr-ch
{
background-image: none; background-color: #6699CC;
}
.CoralBlueWave.rnr-s-3 > :not(.runner-c) > *.style2,
.CoralBlueWave.rnr-s-3 > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #3366FF;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave.rnr-s-3 > :not(.runner-c) > *.style3,
.CoralBlueWave.rnr-s-3 > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #004080;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave.rnr-s-3 > .rnr-c .rnr-leftbricks
{
margin-left: 0px;
}
.CoralBlueWave.rnr-s-3 > .rnr-c .rnr-rightbricks
{
margin-right: 0px;
}
.CoralBlueWave.rnr-s-3 > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.CoralBlueWave.rnr-s-3 > * > :not(.rnr-b-wrapper) .style1,
.CoralBlueWave.rnr-s-3 > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 6px 6px;
}
.CoralBlueWave.rnr-s-3 > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.CoralBlueWave.rnr-s-3 > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.CoralBlueWave.rnr-s-3 > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.CoralBlueWave.rnr-s-3 > * > :not(.rnr-b-wrapper) .style2,
.CoralBlueWave.rnr-s-3 > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 8px;
}
.CoralBlueWave.rnr-s-3 > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.CoralBlueWave.rnr-s-3 > * > :not(.rnr-b-wrapper) .style3,
.CoralBlueWave.rnr-s-3 > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.CoralBlueWave.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > th:not(.rnr-cs),
.CoralBlueWave.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > th:not(.rnr-cs),
.CoralBlueWave.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > td:not(.rnr-cs),
.CoralBlueWave.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > td:not(.rnr-cs)
{
border-top: solid #D8DCDE 1px;

}
.CoralBlueWave.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:last-child > td:not(.rnr-cs),
.CoralBlueWave.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:last-child > td:not(.rnr-cs)
{
border-bottom: solid #D8DCDE 1px;

}
.CoralBlueWave.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > td:first-child,
.CoralBlueWave.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > td:first-child,
.CoralBlueWave.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > th:first-child,
.CoralBlueWave.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > th:first-child,
.CoralBlueWave.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > *.rnr-cs + td,
.CoralBlueWave.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > *.rnr-cs + td,
.CoralBlueWave.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > *.rnr-cs + th,
.CoralBlueWave.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > *.rnr-cs + th
{
border-left: solid #D8DCDE 1px;

}
.CoralBlueWave.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > *.rnr-edge,
.CoralBlueWave.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > *.rnr-edge
{
border-right: solid #D8DCDE 1px;

}
.CoralBlueWave.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow > th:not(.rnr-cs),
.CoralBlueWave.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow > th:not(.rnr-cs),
.CoralBlueWave.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow > td:not(.rnr-cs),
.CoralBlueWave.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow > td:not(.rnr-cs)
{
background-color: #16589C; background-image: none;font-family: Trebuchet MS, sans-serif; font-size: 13px; font-weight: bold; font-style: normal; text-decoration: none;color: #FFFFFF;padding: 10px 4px;
}
.CoralBlueWave.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-bottomrow > td:not(.rnr-cs),
.CoralBlueWave.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-bottomrow > td:not(.rnr-cs)
{
background-color: #DCE2E6; background-image: none;font-family: Verdana, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;color: #333333;padding: 5px 4px;
}
.CoralBlueWave.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row > td:not(.rnr-cs),
.CoralBlueWave.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row > td:not(.rnr-cs)
{
background-color: #EDF1F3; background-image: none;font-family: Verdana, sans-serif; font-size: 11px; font-weight: normal; font-style: normal; text-decoration: none;color: #333333;color: #333333;padding: 5px 8px;
}
.CoralBlueWave.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row:nth-last-child(2n+1) > td:not(.rnr-cs),
.CoralBlueWave.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row:nth-last-child(2n+1) > td:not(.rnr-cs)
{
background-color: #FFFFFF; background-image: none;color: #333333;
}
.CoralBlueWave.rnr-s-grid > table:not(.runner-c):not(.vertical).hoverable > * > .rnr-row:hover > td:not(.rnr-cs),
.CoralBlueWave.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord.hoverable > * > .rnr-row:hover > td:not(.rnr-cs),
.CoralBlueWave.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row > td.rnr-selected,
.CoralBlueWave.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row > td.rnr-selected
{
background-color: #DCDCDC; background-image: none;color: #333333;
}
.CoralBlueWave.rnr-s-grid > table:not(.runner-c):not(.vertical).hoverable > * > .rnr-row:hover:nth-last-child(2n+1) > td:not(.rnr-cs),
.CoralBlueWave.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord.hoverable > * > .rnr-row:hover:nth-last-child(2n+1) > td:not(.rnr-cs),
.CoralBlueWave.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row:nth-last-child(2n+1) > td.rnr-selected,
.CoralBlueWave.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row:nth-last-child(2n+1) > td.rnr-selected
{
background-color: #DCE2E6; background-image: none;color: #333333;
}
.CoralBlueWave.rnr-s-grid > table:not(.runner-c):not(.vertical) > thead > tr:last-child > th:not(.rnr-cs),
.CoralBlueWave.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > thead > tr:last-child > th:not(.rnr-cs)
{
border-bottom: solid #D8DCDE 1px;

}
.CoralBlueWave.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > tr.rnr-row > td:not(.rnr-cs),
.CoralBlueWave.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > tr.rnr-row > td:not(.rnr-cs)
{
border-top: solid #D8DCDE 1px;

}
.CoralBlueWave.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:not(.rnr-bottomrow) + .rnr-bottomrow > td:not(.rnr-cs),
.CoralBlueWave.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:not(.rnr-bottomrow) + .rnr-bottomrow > td:not(.rnr-cs)
{
border-top: solid #D8DCDE 1px;

}
.CoralBlueWave .rnr-search-highlight
{
color: #FF0000; background-color: transparent;
}
.CoralBlueWave .rnr-b-vmenu.simple.main > *,
.CoralBlueWave .rnr-b-vmenu.tree.main > *:not(.subitem)
{
background-image:none; background-color: #C0C0C0;color:#FFFFFF;font-family: Verdana, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave .rnr-b-vmenu.simple.main > * > hr,
.CoralBlueWave .rnr-b-vmenu.tree.main > *:not(.subitem) > hr
{
border-color:#FFFFFF;
}
.CoralBlueWave .rnr-b-vmenu.simple.main > *:hover:not(.expanded):not(.menuSeparator),
.CoralBlueWave .rnr-b-vmenu.tree.main > *:not(.subitem):not(.manage):hover:not(.menuSeparator)
{
background-image:none; background-color: #DCDCDC;color:#3366FF;font-family: Verdana, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave .rnr-b-vmenu.simple.main > *.current.current.current,
.CoralBlueWave .rnr-b-vmenu.tree.main > *:not(.subitem).current.current.current
{
background-image:none; background-color: #16589C;color:#FFFFFF;font-family: Verdana, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave .rnr-b-vmenu.simple.main > *:hover:hover:hover.expanded
{
background-image:none; background-color: #DCDCDC;color:#3366FF;font-family: Verdana, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave .rnr-b-vmenu.simple.main > * > ul li,
.CoralBlueWave .rnr-b-vmenu.tree.main > *.subitem
{
background-image:none; background-color: #A9A9A9;color:#FFFFFF;font-family: Verdana, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave .rnr-b-vmenu.simple.main > * > ul li > hr,
.CoralBlueWave .rnr-b-vmenu.tree.main > *.subitem > hr
{
border-color:#FFFFFF;
}
.CoralBlueWave .rnr-b-vmenu.simple.main > * > ul li:hover:not(.expanded):not(.menuSeparator),
.CoralBlueWave .rnr-b-vmenu.tree.main > *.subitem:hover:not(.menuSeparator)
{
background-image:none; background-color: #DCDCDC;color:#FFFF00;font-family: Verdana, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave .rnr-b-vmenu.simple.main > * > ul li.current.current.current,
.CoralBlueWave .rnr-b-vmenu.tree.main > *.subitem.current.current.current
{
background-image:none; background-color: #16589C;color:#FFFFFF;font-family: Verdana, sans-serif; font-size: 13px; font-weight: bold; font-style: normal; text-decoration: none;
}
.CoralBlueWave .rnr-b-vmenu.simple.main > * > ul li:hover:hover:hover.expanded
{
background-image:none; background-color: #DCDCDC;color:#FFFF00;font-family: Verdana, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave .rnr-b-vmenu.tree.main > *:not(.subitem) > div
{
padding: 9px 7px; margin:1px 3px;
}
.CoralBlueWave .rnr-b-vmenu.simple.main > * > :not(ul) > *
{
padding: 9px 7px; margin:1px 3px;
}
.CoralBlueWave .rnr-b-vmenu.tree.main > *.subitem > div
{
padding: 9px 7px; margin:1px 3px;
}
.CoralBlueWave .rnr-b-vmenu.simple.main > * > ul li > :not(ul) > *
{
padding: 9px 7px; margin:1px 3px;
}
.CoralBlueWave .rnr-b-vmenu.simple.main >  * ul
{
box-shadow:5px 5px 3px rgba(0,0,0,0.2);
}
.CoralBlueWave .rnr-b-vmenu.simple.main > *:not(:first-child),
.CoralBlueWave .rnr-b-vmenu.tree.main > *:not(.subitem):not(:first-child)
{
border-top:solid #000000 1px;
}
.CoralBlueWave .rnr-b-vmenu.simple.second > *,
.CoralBlueWave .rnr-b-vmenu.tree.second > *:not(.subitem)
{
background-image:none; background-color: #C0C0C0;color:#FFFFFF;font-family: Verdana, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave .rnr-b-vmenu.simple.second > * > hr,
.CoralBlueWave .rnr-b-vmenu.tree.second > *:not(.subitem) > hr
{
border-color:#FFFFFF;
}
.CoralBlueWave .rnr-b-vmenu.simple.second > *:hover:not(.expanded):not(.menuSeparator),
.CoralBlueWave .rnr-b-vmenu.tree.second > *:not(.subitem):not(.manage):hover:not(.menuSeparator)
{
background-image:none; background-color: #DCDCDC;color:#3366FF;font-family: Verdana, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave .rnr-b-vmenu.simple.second > *.current.current.current,
.CoralBlueWave .rnr-b-vmenu.tree.second > *:not(.subitem).current.current.current
{
background-image:none; background-color: #16589C;color:#FFFFFF;font-family: Verdana, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave .rnr-b-vmenu.simple.second > *:hover:hover:hover.expanded
{
background-image:none; background-color: #DCDCDC;color:#3366FF;font-family: Verdana, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave .rnr-b-vmenu.simple.second > * > ul li,
.CoralBlueWave .rnr-b-vmenu.tree.second > *.subitem
{
background-image:none; background-color: #A9A9A9;color:#FFFFFF;font-family: Verdana, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave .rnr-b-vmenu.simple.second > * > ul li > hr,
.CoralBlueWave .rnr-b-vmenu.tree.second > *.subitem > hr
{
border-color:#FFFFFF;
}
.CoralBlueWave .rnr-b-vmenu.simple.second > * > ul li:hover:not(.expanded):not(.menuSeparator),
.CoralBlueWave .rnr-b-vmenu.tree.second > *.subitem:hover:not(.menuSeparator)
{
background-image:none; background-color: #DCDCDC;color:#FFFF00;font-family: Verdana, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave .rnr-b-vmenu.simple.second > * > ul li.current.current.current,
.CoralBlueWave .rnr-b-vmenu.tree.second > *.subitem.current.current.current
{
background-image:none; background-color: #16589C;color:#FFFFFF;font-family: Verdana, sans-serif; font-size: 13px; font-weight: bold; font-style: normal; text-decoration: none;
}
.CoralBlueWave .rnr-b-vmenu.simple.second > * > ul li:hover:hover:hover.expanded
{
background-image:none; background-color: #DCDCDC;color:#FFFF00;font-family: Verdana, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave .rnr-b-vmenu.tree.second > *:not(.subitem) > div
{
padding: 9px 7px; margin:1px 3px;
}
.CoralBlueWave .rnr-b-vmenu.simple.second > * > :not(ul) > *
{
padding: 9px 7px; margin:1px 3px;
}
.CoralBlueWave .rnr-b-vmenu.tree.second > *.subitem > div
{
padding: 9px 7px; margin:1px 3px;
}
.CoralBlueWave .rnr-b-vmenu.simple.second > * > ul li > :not(ul) > *
{
padding: 9px 7px; margin:1px 3px;
}
.CoralBlueWave .rnr-b-vmenu.simple.second >  * ul
{
box-shadow:5px 5px 3px rgba(0,0,0,0.2);
}
.CoralBlueWave .rnr-b-vmenu.simple.second > *:not(:first-child),
.CoralBlueWave .rnr-b-vmenu.tree.second > *:not(.subitem):not(:first-child)
{
border-top:solid #000000 1px;
}
.CoralBlueWave .rnr-b-hmenu.main > div:not(.rnr-hseparator)
{
background: transparent;color:#FFFFFF;font-family: Verdana, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;padding: 10px 10px;border: none;
}
.CoralBlueWave .rnr-b-hmenu.main
{
background-image:none; background-color: #6699CC;
}
.CoralBlueWave .rnr-b-hmenu.main > div:not(.rnr-hseparator) > hr
{
border-color:#FFFFFF;
}
.CoralBlueWave .rnr-b-hmenu.main:hover:not(.expanded) > div:not(.rnr-hseparator)
{
background: transparent;color:#FFFFFF;font-family: Verdana, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave .rnr-b-hmenu.main:hover:not(.expanded)
{
background-image:none; background-color: #C0C0C0;
}
.CoralBlueWave .rnr-b-hmenu.main.current.current > div:not(.rnr-hseparator)
{
background: transparent;color:#FFFFFF;font-family: Verdana, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave .rnr-b-hmenu.main.current.current
{
background-image:none; background-color: #16589C;
}
.CoralBlueWave .rnr-b-hmenu.main:hover.expanded > div:not(.rnr-hseparator)
{
background: transparent;color:#FFFFFF;font-family: Verdana, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave .rnr-b-hmenu.main:hover.expanded
{
background-image:none; background-color: #C0C0C0;
}
.CoralBlueWave .rnr-b-hmenu.main > ul li
{
background-image:none; background-color: #00FFFF;color:#000080;font-family: Verdana, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave .rnr-b-hmenu.main > ul li > hr
{
border-color:#000080;
}
.CoralBlueWave .rnr-b-hmenu.main > ul li:hover:not(.expanded):not(.menuSeparator)
{
background-image:none; background-color: #00CCCC;color:#0000FF;font-family: Verdana, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave .rnr-b-hmenu.main > ul li.current.current
{
background-image:none; background-color: #3366FF;color:#FFFFFF;font-family: Verdana, sans-serif; font-size: 13px; font-weight: bold; font-style: normal; text-decoration: none;
}
.CoralBlueWave .rnr-b-hmenu.main > ul li:hover.expanded
{
background-image:none; background-color: #00CCCC;color:#0000FF;font-family: Verdana, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave .rnr-b-hmenu.main > ul li > div > div
{
padding: 9px 7px; margin:1px 3px;
}
.CoralBlueWave .rnr-b-hmenu.main ul
{
box-shadow:5px 5px 3px rgba(0,0,0,0.2);
}
.CoralBlueWave .rnr-b-hmenu.second > div:not(.rnr-hseparator)
{
background-image:none; background-color: #6699CC;color:#FFFFFF;font-family: Verdana, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;padding: 10px 10px;border-top-left-radius: 10px;border-top-right-radius: 10px;
}
.CoralBlueWave .rnr-b-hmenu.second > div:not(.rnr-hseparator) > hr
{
border-color:#FFFFFF;
}
.CoralBlueWave .rnr-b-hmenu.second:hover:not(.expanded) > div:not(.rnr-hseparator)
{
background-image:none; background-color: #C0C0C0;color:#FFFFFF;font-family: Verdana, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave .rnr-b-hmenu.second.current.current > div:not(.rnr-hseparator)
{
background-image:none; background-color: #16589C;color:#FFFFFF;font-family: Verdana, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave .rnr-b-hmenu.second:hover.expanded > div:not(.rnr-hseparator)
{
background-image:none; background-color: #C0C0C0;color:#FFFFFF;font-family: Verdana, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave .rnr-b-hmenu.second > ul li
{
background-image:none; background-color: #00FFFF;color:#000080;font-family: Verdana, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave .rnr-b-hmenu.second > ul li > hr
{
border-color:#000080;
}
.CoralBlueWave .rnr-b-hmenu.second > ul li:hover:not(.expanded):not(.menuSeparator)
{
background-image:none; background-color: #00CCCC;color:#0000FF;font-family: Verdana, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave .rnr-b-hmenu.second > ul li.current.current
{
background-image:none; background-color: #3366FF;color:#FFFFFF;font-family: Verdana, sans-serif; font-size: 13px; font-weight: bold; font-style: normal; text-decoration: none;
}
.CoralBlueWave .rnr-b-hmenu.second > ul li:hover.expanded
{
background-image:none; background-color: #00CCCC;color:#0000FF;font-family: Verdana, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave .rnr-b-hmenu.second > ul li > div > div
{
padding: 9px 7px; margin:1px 3px;
}
.CoralBlueWave .rnr-b-hmenu.second ul
{
box-shadow:5px 5px 3px rgba(0,0,0,0.2);
}
.CoralBlueWave .rnr-b-hmenu.second.rnr-b-hmenu.rnr-b-hmenu
{
padding-bottom: 0; padding-left:0; padding-right:0; vertical-align: bottom;
}
body.CoralBlueWave
{

background-color:#FFFFFF;
}
.CoralBlueWave .rnr-list
{
color: #FFFFFF;background-color: #6699CC;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;border: solid #004080 1px;box-shadow:5px 5px 3px rgba(0,0,0,0.2);
}
.CoralBlueWave .rnr-tab.selected
{
background-color:#0000FF;
border-top-left-radius:2px;
border-top-right-radius:2px;

}
.CoralBlueWave .rnr-tab
{
background-color:#C0C0C0;
border-top-left-radius:2px;
border-top-right-radius:2px;
border: solid #000000 1px; border-bottom-width:0;
}
.CoralBlueWave .rnr-tab.selected > a
{
color: #FFFFFF;

}
.CoralBlueWave .rnr-tab > a
{
color: #000000;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave .yui-navset .yui-content
{
border: solid #0000FF 1px;border-top-width: 5px;
}
.CoralBlueWave .rnr-stepnav > a.active,
.CoralBlueWave .rnr-stepnav > a:hover:not(.active),
.CoralBlueWave .rnr-stepnav > a.active:after,
.CoralBlueWave .rnr-stepnav > a:hover:not(.active):after
{
background-image: none; background-color: #EDF1F3;

}
.CoralBlueWave .rnr-stepnav > a:not(.active),
.CoralBlueWave .rnr-stepnav > a:not(.active):after
{
background-image: none; background-color: #C0C0C0;

}
.CoralBlueWave .rnr-stepnav > a:before
{
background-image: none; background: #DCDCDC;

}
.CoralBlueWave .rnr-stepnav > a.active,
.CoralBlueWave .rnr-stepnav > a:hover:not(.active)
{
color: #16589C;

}
.CoralBlueWave .rnr-stepnav > a:not(.active)
{
color: #A9A9A9;

}
.CoralBlueWave .rnr-stepnav > a:before 
{
color: #333333;

}
.CoralBlueWave .rnr-stepnav > a,
 .rnr-pagewrapper .CoralBlueWave .rnr-stepnav > a,
 .rnr-pagewrapper .rnr-pagewrapper .CoralBlueWave .rnr-stepnav > a
{
font-family: Verdana, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave  .rnr-message
{
background-color: #6699CC;border: solid #004080 1px;color: #008000;font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave  .rnr-error.rnr-error
{
color: #A80000;font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.CoralBlueWave .yui3-panel-content.yui3-panel-content
{
border: solid #C0C0C0 1px;border-radius: 2px;
}
.CoralBlueWave  .yui3-panel .yui3-widget-hd.yui3-widget-hd.yui3-widget-hd
{
background-color: #004080;
background: linear-gradient(0.000000turn, #5680AB, #004080);
;
font-family: Trebuchet MS, sans-serif; font-size: 15px; font-weight: normal; font-style: normal; text-decoration: none;color: #FFFFFF;
}
.CoralBlueWave  .yui3-widget-ft
{
background-color: #105198; background-image: none;font-family: Trebuchet MS, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;color: #FFFFFF;
}
.CoralBlueWave .rnr-dbbordered
{
border: solid #C0C0C0 1px;border-radius: 2px;
}
.CoralBlueWave  .rnr-dbelemheader
{
background-color: #004080;
background: linear-gradient(0.000000turn, #5680AB, #004080);
;
font-family: Trebuchet MS, sans-serif; font-size: 15px; font-weight: normal; font-style: normal; text-decoration: none;color: #FFFFFF;
}
.CoralBlueWave  .rnr-dbelemfooter
{
background-color: #D8D8D8; background-image: none;font-family: Trebuchet MS, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;color: #000000;
}
.CoralBlueWave  .rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow
{
background-color: #FFFACD; background-image: none;color: #4C4951;
}
.CoralBlueWave .rnr-dashboard
{
background-color: #FFFFFF;
}
.CoralBlueWave .rnr-button.rnr-button,
.CoralBlueWave.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
.CoralBlueWave .button.button.button.rnr-button.rnr-button,
 .rnr-pagewrapper .CoralBlueWave .rnr-button.rnr-button,
 .rnr-pagewrapper .CoralBlueWave.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .CoralBlueWave .button.button.button.rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .CoralBlueWave .rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .CoralBlueWave.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .CoralBlueWave .button.button.button.rnr-button.rnr-button
{
border: solid 1px;border-radius: 2px;padding: 4px 10px 5px;background-image: none; background-color: #EDF1F3;
border-color: #000080;color: #16589C;
font-family: Verdana, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave .rnr-button.rnr-button.img,
.CoralBlueWave.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
.CoralBlueWave .button.button.button.rnr-button.rnr-button.img,
 .rnr-pagewrapper .CoralBlueWave .rnr-button.rnr-button.img,
 .rnr-pagewrapper .CoralBlueWave.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .CoralBlueWave .button.button.button.rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .CoralBlueWave .rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .CoralBlueWave.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .CoralBlueWave .button.button.button.rnr-button.rnr-button.img
{
padding: 4px;

}
.CoralBlueWave .rnr-button:hover,
.CoralBlueWave.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:hover,
.CoralBlueWave .button.button.button.rnr-button:hover,
 .rnr-pagewrapper .CoralBlueWave .rnr-button:hover,
 .rnr-pagewrapper .CoralBlueWave.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .CoralBlueWave .button.button.button.rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .CoralBlueWave .rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .CoralBlueWave.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .CoralBlueWave .button.button.button.rnr-button:hover
{
background-image: none; background-color: #DCDCDC;
border-color: #000000;color: #333333;

}
.CoralBlueWave .rnr-button:active,
.CoralBlueWave.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:active,
.CoralBlueWave .button.button.button.rnr-button:active,
 .rnr-pagewrapper .CoralBlueWave .rnr-button:active,
 .rnr-pagewrapper .CoralBlueWave.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .CoralBlueWave .button.button.button.rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .CoralBlueWave .rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .CoralBlueWave.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .CoralBlueWave .button.button.button.rnr-button:active
{
background-image: none; background-color: #DCDCDC;
border-color: #C0C0C0;color: #333333;

}
.CoralBlueWave .rnr-button.disabled,
.CoralBlueWave.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.disabled,
.CoralBlueWave .button.button.button.rnr-button.disabled,
 .rnr-pagewrapper .CoralBlueWave .rnr-button.disabled,
 .rnr-pagewrapper .CoralBlueWave.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .CoralBlueWave .button.button.button.rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .CoralBlueWave .rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .CoralBlueWave.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .CoralBlueWave .button.button.button.rnr-button.disabled
{
background-image: none; background-color: #C0C0C0;
border-color: #DCDCDC;color: #A9A9A9;

}
.CoralBlueWave.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
.CoralBlueWave .link.link.link.rnr-button.rnr-button,
 .rnr-pagewrapper .CoralBlueWave.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .CoralBlueWave .link.link.link.rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .CoralBlueWave.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .CoralBlueWave .link.link.link.rnr-button.rnr-button
{
background: none; border: none; ;
border: none;border-radius: 0px;padding: 4px 10px 4px;color: #404040;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
.CoralBlueWave .link.link.link.rnr-button.rnr-button.img,
 .rnr-pagewrapper .CoralBlueWave.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .CoralBlueWave .link.link.link.rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .CoralBlueWave.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .CoralBlueWave .link.link.link.rnr-button.rnr-button.img
{
padding: 4px;

}
.CoralBlueWave.aslinks > * > *:not(.rnr-wrapper) .rnr-button:hover,
.CoralBlueWave .link.link.link.rnr-button:hover,
 .rnr-pagewrapper .CoralBlueWave.aslinks > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .CoralBlueWave .link.link.link.rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .CoralBlueWave.aslinks > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .CoralBlueWave .link.link.link.rnr-button:hover
{
color: #696969;

}
.CoralBlueWave.aslinks > * > *:not(.rnr-wrapper) .rnr-button:active,
.CoralBlueWave .link.link.link.rnr-button:active,
 .rnr-pagewrapper .CoralBlueWave.aslinks > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .CoralBlueWave .link.link.link.rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .CoralBlueWave.aslinks > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .CoralBlueWave .link.link.link.rnr-button:active
{
color: #004080;

}
.CoralBlueWave.aslinks > * > *:not(.rnr-wrapper) .rnr-button.disabled,
.CoralBlueWave .link.link.link.rnr-button.disabled,
 .rnr-pagewrapper .CoralBlueWave.aslinks > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .CoralBlueWave .link.link.link.rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .CoralBlueWave.aslinks > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .CoralBlueWave .link.link.link.rnr-button.disabled
{
color: #DCDCDC;

}
.CoralBlueWave .main.main.main.rnr-button.rnr-button,
 .rnr-pagewrapper .CoralBlueWave .main.main.main.rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .CoralBlueWave .main.main.main.rnr-button.rnr-button
{
border: solid 1px;border-radius: 2px;padding: 4px 10px 5px;background-image: none; background-color: #EDF1F3;
border-color: #000080;color: #16589C;
font-family: Verdana, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CoralBlueWave .main.main.main.rnr-button.rnr-button.img,
 .rnr-pagewrapper .CoralBlueWave .main.main.main.rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .CoralBlueWave .main.main.main.rnr-button.rnr-button.img
{
padding: 4px;

}
.CoralBlueWave .main.main.main.rnr-button:hover,
 .rnr-pagewrapper .CoralBlueWave .main.main.main.rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .CoralBlueWave .main.main.main.rnr-button:hover
{
background-image: none; background-color: #DCDCDC;
border-color: #000000;color: #333333;

}
.CoralBlueWave .main.main.main.rnr-button:active,
 .rnr-pagewrapper .CoralBlueWave .main.main.main.rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .CoralBlueWave .main.main.main.rnr-button:active
{
background-image: none; background-color: #DCDCDC;
border-color: #C0C0C0;color: #333333;

}
.CoralBlueWave .main.main.main.rnr-button.disabled,
 .rnr-pagewrapper .CoralBlueWave .main.main.main.rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .CoralBlueWave .main.main.main.rnr-button.disabled
{
background-image: none; background-color: #C0C0C0;
border-color: #DCDCDC;color: #A9A9A9;

}

 .rnr-left, .rnr-center {
 background: #fcfcfc !important;
 }
  
div.style1.rnr-bc.rnr-b-pagination > b, .pag_n:hover{  
-webkit-background-clip: border-box;    
background-clip: border-box;    
background: #eb6a5a;
border: 1px solid #eb6a5a;
color: #fff;
font-weight: 700;  
padding: 5px 11px 5px 11px;
}

div.style1.rnr-bc.rnr-b-pagination > b:first-child, 
div.style1.rnr-bc.rnr-b-pagination > b:last-child {
display: none;
}

.pag_n:hover {
font-weight: normal !important;  
}

.pag_n {
-webkit-background-clip: border-box;    
background-clip: border-box;    
border: 1px solid #dddddd;
background: #ffffff;
color: rgb(124, 124, 124);
font-weight: normal; 
padding: 5px 11px 5px 11px;

}