<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterprintheader {$brickclass_masterprintheader}"><span>{$pagetitlelabel testcases masterprint}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



<table {$bsmasterprintgrid_hiddenattr} data-pageid="{$pageid}" data-brick="bsmasterprintgrid" class="table rnr-b-mastergridfields rnr-gridtable" >
		<thead>
		<tr>
			<th class="{$TestScenrio_Id_class}">{$label testcases TestScenrio_Id}</th>
			<th class="{$TestCaseId_class}">{$label testcases TestCaseId}</th>
			<th class="{$TestCase_class}">{$label testcases TestCase}</th>
			<th class="{$Summary_class}">{$label testcases Summary}</th>
			<th class="{$TestEnvironment_class}">{$label testcases TestEnvironment}</th>
			<th class="{$TestResult_class}">{$label testcases TestResult}</th>
			<th class="{$Comment_class}">{$label testcases Comment}</th>
			<th class="{$QA_class}">{$label testcases QA}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="{$TestScenrio_Id_class}">{$TestScenrio_Id_mastervalue}</td>
			<td class="{$TestCaseId_class}">{$TestCaseId_mastervalue}</td>
			<td class="{$TestCase_class}">{$TestCase_mastervalue}</td>
			<td class="{$Summary_class}">{$Summary_mastervalue}</td>
			<td class="{$TestEnvironment_class}">{$TestEnvironment_mastervalue}</td>
			<td class="{$TestResult_class}">{$TestResult_mastervalue}</td>
			<td class="{$Comment_class}">{$Comment_mastervalue}</td>
			<td class="{$QA_class}">{$QA_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>