<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_searchpage}
<div {$searchpage_chiddenattr} data-pageid="{$pageid}" data-container="searchpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-6 col-md-offset-3"> 

{BEGIN searchheader}
	<h2 {$bssearchheader_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchheader" >{$pagetitlelabel testscenarios search}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END searchheader}



</div>
{END container_header}






</div>
{END container_searchpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$bssearchfields_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchfields" class="form-horizontal" role="form">
<div class="container">
	<div class="form-group">
		<div class="col-md-12" >
			&nbsp;
		</div>
	</div>
</div>
	{BEGIN TestScenrio_Id_fieldblock}		
	<div class="container {$fielddispclass_TestScenrio_Id}" data-fieldname="TestScenrio_Id">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_TestScenrio_Id}">
				{$label testscenarios TestScenrio_Id}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_TestScenrio_Id}
			</div>
			<div class="col-md-4" >
				{$TestScenrio_Id_editcontrol}
			</div>
			<div class="col-md-4" >
				{$TestScenrio_Id_editcontrol1}
			</div>
		</div>
	</div>
{END TestScenrio_Id_fieldblock}
	{BEGIN TestType_fieldblock}		
	<div class="container {$fielddispclass_TestType}" data-fieldname="TestType">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_TestType}">
				{$label testscenarios TestType}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_TestType}
			</div>
			<div class="col-md-4" >
				{$TestType_editcontrol}
			</div>
			<div class="col-md-4" >
				{$TestType_editcontrol1}
			</div>
		</div>
	</div>
{END TestType_fieldblock}
	{BEGIN Module_fieldblock}		
	<div class="container {$fielddispclass_Module}" data-fieldname="Module">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Module}">
				{$label testscenarios Module}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Module}
			</div>
			<div class="col-md-4" >
				{$Module_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Module_editcontrol1}
			</div>
		</div>
	</div>
{END Module_fieldblock}
	{BEGIN TestScenario_fieldblock}		
	<div class="container {$fielddispclass_TestScenario}" data-fieldname="TestScenario">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_TestScenario}">
				{$label testscenarios TestScenario}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_TestScenario}
			</div>
			<div class="col-md-4" >
				{$TestScenario_editcontrol}
			</div>
			<div class="col-md-4" >
				{$TestScenario_editcontrol1}
			</div>
		</div>
	</div>
{END TestScenario_fieldblock}
	{BEGIN Summary_fieldblock}		
	<div class="container {$fielddispclass_Summary}" data-fieldname="Summary">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Summary}">
				{$label testscenarios Summary}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Summary}
			</div>
			<div class="col-md-4" >
				{$Summary_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Summary_editcontrol1}
			</div>
		</div>
	</div>
{END Summary_fieldblock}
	{BEGIN UAT_fieldblock}		
	<div class="container {$fielddispclass_UAT}" data-fieldname="UAT">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_UAT}">
				{$label testscenarios UAT}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_UAT}
			</div>
			<div class="col-md-4" >
				{$UAT_editcontrol}
			</div>
			<div class="col-md-4" >
				{$UAT_editcontrol1}
			</div>
		</div>
	</div>
{END UAT_fieldblock}
	{BEGIN QA_fieldblock}		
	<div class="container {$fielddispclass_QA}" data-fieldname="QA">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_QA}">
				{$label testscenarios QA}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_QA}
			</div>
			<div class="col-md-4" >
				{$QA_editcontrol}
			</div>
			<div class="col-md-4" >
				{$QA_editcontrol1}
			</div>
		</div>
	</div>
{END QA_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container form-horizontal   "> 




{BEGIN container_bbuttons}
<div {$bbuttons_chiddenattr} data-pageid="{$pageid}" data-container="bbuttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-10 col-md-offset-2"> 

{BEGIN searchbuttons}
{BEGIN search_button}
<button class="btn btn-primary" {$searchbutton_attrs}>Search</button>
{END search_button} 
{BEGIN reset_button}
<button class="btn btn-default" {$resetbutton_attrs}>Reset</button>
{END reset_button}
{BEGIN back_button}
<button class="btn btn-default" {$backbutton_attrs}>Back to list</button>
{END back_button}
{END searchbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_bbuttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
