<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="TestScenrio_Id">
	{$TestScenrio_Id_editcontrol}
	</control>
	<control field="TestCaseId">
	{$TestCaseId_editcontrol}
	</control>
	<control field="TestCase">
	{$TestCase_editcontrol}
	</control>
	<control field="Summary">
	{$Summary_editcontrol}
	</control>
	<control field="TestEnvironment">
	{$TestEnvironment_editcontrol}
	</control>
	<control field="TestResult">
	{$TestResult_editcontrol}
	</control>
	<control field="Comment">
	{$Comment_editcontrol}
	</control>
	<control field="QA">
	{$QA_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>